* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
    font-family: Arial, Helvetica, sans-serif;
}
img {
    max-width: 100%;
}
a {
    cursor: pointer;
}

.heading{
    margin: auto;
    text-align: center;
    line-height: 2;
    position: relative;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
    color: white;
}

.message {
    background-color: #a8d4ff;
    color: #3f474e;
    font-size: 0.75rem;
    border-radius: 50px;
    width: max-content;
    margin: 1rem auto 0;
    padding: 1em 2em;
    text-align: center;
}
.project-card-container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}
.project-card {
    max-width: 450px;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.project-card-body {
    padding: 1em;
}
.project-technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.project-technologies > li {
    list-style-type: none;
    font-size: 0.75rem;
    padding: 0.5em 1em;
    background-color: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem;
}
.project-title {
    color: rgba(0, 0, 0, 0.7);
    margin-top: 0.5em;
    font-size: 1.5em;
}
.project-subtitle {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 1em;
}
.project-description {
    max-height: 0;
    overflow: hidden;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1rem;
    transition: max-height 3s;
    color: rgba(0, 0, 0, 0.7);
    text-align: justify;
    padding: 0 1em;
}
.project-card:hover .project-description {
    max-height: 500px;
}
.project-link {
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.project-link > a {
    width: 100%;
    text-decoration: none;
    padding: 0.5em 2em;
    border-radius: 0.5em;
    background-color: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.2s;
}
.project-link > a:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

/* carousel */
.slider {
    padding: 0;
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
    overflow: hidden;
}

.slider-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scale: 1.2;
    transition: 0.4s;
    opacity: 0;
    pointer-events: none;
}

.slider-item.is-active {
    opacity: 1;
    scale: 1;
    pointer-events: auto;
}

.slider-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* carousel end */

footer {
    font-size: 0.6rem;
    text-align: center;
    padding: 1rem 0;
    color: rgba(0, 0, 0, 0.7);
}

/* responsive */
@media screen and (min-width: 950px) {
    .message{
        display: none;
    }
    footer{
        font-size: 0.8rem;
    }
}